[submodule ".i3"]
	path = .i3
	url = https://github.com/AugustDG/i3-config
[submodule ".config/yazi"]
	path = .config/yazi
	url = git@github.com:AugustDG/yazi-config.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:AugustDG/tmux-config.git
[submodule ".config/opencode"]
	path = .config/opencode
	url = git@github.com:AugustDG/opencode-config.git
[submodule ".config/zed"]
	path = .config/zed
	url = git@github.com:AugustDG/zed-config.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:AugustDG/nvim-config.git
