# ignore everything except hidden items
*
!.*

# also ignore temp files
.sudo_as_admin_successful
.*_history
.wget-hsts
.motd_shown
.nvidia-settings-rc

# and specific customizations/installations (such as fonts & nvm)
.fonts/
.fzf/
.nvm/

# don't ignore program-specific configurations
!.config/nvim

# don't ignore the base install script
!install.sh
